<div class="masthead clearfix">
  <div class="inner">
     <div class="row-sm-8 py-4">
       <div class="col-sm-12">
        <h3 class="masthead-brand">J-zilla</h3>
        <nav class="nav nav-masthead  app-nav">
        <%= nav_helper "nav-link", "nav" %>
        <%= login_helper "nav-link" %>
        </nav>
      </div>
    </div>
  </div>
</div>