<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Making the choice to become a developer was easy. Coding is my life!<p>
  </div>

  <div class="sidebar-module">
    <h4>Follow me!</h4>
    <ol class="list-unstyled social-links">
     <li><a href="https://github.com/j-zilla1"><%= fa_icon "github"%></a></li>
     <li><a href="https://www.facebook.com/Jessthecoder/"><%= fa_icon "facebook"%></a></li>
     <li><a href="https://twitter.com/moton159"><%= fa_icon "twitter"%></a></li>
     <li><i class="fa fa-phone" aria-hidden="true"></i>
    </ol>
  </div>
</div>
