<body>

     <ul>
<div class= "myPhone"><li id="toggleFunction" ><a class='fa_icon "phone-square" fa-5x'><%= fa_icon "phone-square" %></a></li></div>
     <li><a class='fa_icon "github"fa-5x' href="https://github.com/j-zilla1"><%= fa_icon "github"%></a></li>
     <li><a href="https://twitter.com/moton159"><%= fa_icon "twitter"%></a></li>
    </ul>


<!--
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.466715606209!2d-84.20203298527423!3d33.90338578064676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a69642fa8b75%3A0x41f236d8eb32aa1!2sCafe+J!5e0!3m2!1sen!2sus!4v1505023974845" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
-->