<h1>About Me</h1>
<p>As you take a look back on my educational history one might wonder: <em>"What lead Me to a Computer Science career path?"</em> <b>and</b>  <em>"How does all of <b>that</b> equal a tenacious, research driven, quick-learner?"</em>
</p>
<p>
              When I <u><a title = "to gain (a habit, mannerism, etc.) by experience, exposure to example, or the like; acquire">learn</a></u> a new skill; it's learned and not <u><a title = "
               to commit to memory; learn by heart">memorized</a></u>. Being able to freely think about information paired with my past eduational endeavors, opposed to simply committing to memory, has enabled me to garner an understanding of Computer Science that cannot simply be memorized.
</p>



