<div class="inner cover">
  <h1 class="cover-heading">Check out my work</h1>
  <p class="lead">*Warning: Prepare to learn about me</p>
  <p class="lead">
    <%= link_to "Want to see more?", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
